@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  font-family: var(--font-judson), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant_garamond), serif;
}

/* Calendar */
.calendar-page {
  margin: 10px;
}

.fc .fc-daygrid-day-events {
  /* horizontally center the group of dots */
  display: flex;
  justify-content: center;
}

.fc-daygrid-event-harness {
  display: flex;
  /* horizontally center each dot */
  justify-content: center;
}

.fc-h-event {
  background-color: transparent;
  border: none;
  display: block; /* ?? */

  .dot {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    background-color: #ed4063;

    div {
      text-align: center;
      font-size: 25px;
    }
  }
  .dot.heavy {
    background-color: #eb0231;
  }

  .dot.medium {
    background-color: #ed4063;
  }

  .dot.light {
    background-color: #f28399;
  }

  p {
    color: black;
  }
}

.fc .fc-daygrid-day-bottom {
  margin: 0;
}

/* Current Period Control */

.period-control {
  margin-top: 10px;
}

.period-control.ongoing-period-control {
  background-color: #E6E6FA;
  padding: 10px;
  border-radius: 25px;
  color: #333333;
}  

.current-period-info {
  text-align: center;
}